<%# There is no form here - just a textarea.  channels/messages.coffee defines the event watcher that sends the message. %>
<label for="message_content">Your message</label>:
<textarea class="form-control" data-textarea="message" name="message[content]" id="message_content"></textarea>
